.m-crm
{
	padding-top:25px;padding-bottom:25px;
	font-size:17px;
}

.m-crm .dot
{
	font-size:20px;
	position:relative;
	top:1px;
	padding:0 6px;
}

.m-content
{
	margin-top:25px;
}

.main
{
	width:740px;
	float:left;
}

.aside
{
	width:320px;
	float:right;
}

.m-lists .itm
{
	overflow:hidden;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px dashed #dcdcdc;
}

.m-lists .itm img
{
	width:150px;
	float:right;
	margin-left:20px;
}

.m-lists .itm .pw
{
	overflow:hidden;
	zoom:1;
}

.m-lists .itm h3
{
	font-size:18px;
	margin-bottom:10px;
}

.m-lists .itm .pa
{
	font-size:14px;
	color:#767676;
}

.m-lists .itm .meta
{
	color:#909090;
}

.m-lists .meta
{
	margin-top:10px;
}

.m-lists .meta>div
{
	float:left;
	font-size:15px;
	margin-right:20px;
}

.m-lists .comments span
{
	background:url(../images/comments.png) no-repeat 50%;
	width:16px;
	top:0;
}

.m-lists .comments span,.m-lists .like span
{
	display:inline;
	zoom:1;
	height:14px;
	margin-left:3px;
	position:relative;
}

.m-lists .like span
{
	background:url(../images/like.png) no-repeat 50%;
	width:14px;
	top:-2px;
}

.m-focusw
{
	width:640px;
	height:330px;
	overflow:hidden;
	position:relative;
	margin-bottom:25px;
}

.m-focus .itm
{
	float:left;
	position:relative;
}

.m-focus img
{
	display:block;
	width:640px;
	height:330px;
}

.m-focus h3
{
	position:absolute;
	left:0;
	bottom:0;
	line-height:52px;
	background:url(../images/masker_title2.png) repeat-x;
	color:#fff;
	width:510px;
	font-size:18px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align:center;
	padding:0 100px 0 30px;
}

.m-fpager
{
	position:absolute;
	right:10px;
	bottom:20px;
}

.m-fpager span
{
	width:10px;
	height:10px;
	background:#fff;
	float:left;
	overflow:hidden;
	text-indent:-200px;
	margin-right:5px;
}

.m-fpager .selected span
{
	background:#d23b3b;
}

a.page
{
	border:1px solid #e3e3e3;
	line-height:25px;
	height:25px;
	text-align:center;
	background:#f5f5f5;
	display:inline-block;
	margin:10px 2px;
	padding:0 10px;
}

a.page:hover
{
	border:1px solid #195cad;
	background:#195cad;
	color:#fff;
}

.main center span,span.page
{
	display:inline-block;
	line-height:25px;
	height:25px;
	text-align:center;
	margin:10px 2px;
	padding:0 10px;
}

.m-tit
{
	font-size:18px;
	border-left:3px solid #5ca2f3;
	padding-left:10px;
	margin-bottom:15px;
	margin-top:15px;
}

.GsNewsRank dt
{
	border-bottom:1px solid #cfcfcf;
	margin-left:1px;
	margin-top:0;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	padding:10px 0;
}

.GsNewsRank dt.r1,.GsNewsRank dt.r2,.GsNewsRank dt.r3
{
	background:none;
}

.GsNewsRank dt a
{
	font-size:15px;
}

.GsNewsRank span
{
	font-size:13px;
	background:#aaa;
	color:#fff;
	display:inline;
	zoom:1;
	margin:0 5px;
	padding:0 5px;
}

.GsNewsRank .rank
{
	background:#3668a5;
}

.m-tj
{
	margin-top:8px;
}

.m-tjl
{
	position:relative;
	margin-bottom:20px;
}

.m-tjl img
{
	width:320px;
	height:165px;
	display:block;
}

.m-tjl h3
{
	position:absolute;
	line-height:40px;
	background:url(../images/masker_title.png) repeat-x;
	color:#fff;
	left:0;
	bottom:0;
	width:280px;
	font-size:15px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align:center;
	padding:0 20px;
}

.m-list7 .itm
{
	overflow:hidden;
	padding-bottom:12px;
	margin-bottom:12px;
	border-bottom:1px dashed #dcdcdc;
}

.m-list7 .itm img
{
	width:65px;
	height:65px;
	float:right;
	margin-left:10px;
}

.m-list7 .itm h3
{
	overflow:hidden;
	font-size:16px;
}

.GsNewsRank dt.r10,.m-list7 .itm:last-child
{
	border-bottom:0;
}
/*
     FILE ARCHIVED ON 14:45:08 Sep 29, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 03:52:08 Nov 30, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 73.858
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.069
  cdx.remote: 0.065
  esindex: 0.008
  LoadShardBlock: 42.548 (3)
  PetaboxLoader3.datanode: 84.039 (4)
  CDXLines.iter: 20.906 (3)
  load_resource: 165.164
  PetaboxLoader3.resolve: 70.069
*/